<!DOCTYPE html>

<!--********************-->
<!-- 網頁開始           -->
<!--********************-->
<html lang="en">

<!--=====================-->
<!-- 標題開始            -->
<!--=====================-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>植得 | 作業評分</title>
<link rel="Shortcut Icon" type="image/x-icon" href="images/logoHead.png" style="height:200%; width:200%;"/>
<meta name="description" content="Source code generated using layoutit.com">
<meta name="author" content="LayoutIt!">

<!-- 引用資源 -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<link href="css/107512/font.css" rel="stylesheet">



<!-- button -->
<link href="css/107512/class/classbutton.css" rel="stylesheet" type="text/css" media="all" />

<style type="text/css"> 
	.starWrapper{/*border:1px solid #FFCC00;*/padding-top:50px; } 
	.starWrapper img{cursor:pointer; height:50px;} 
	</style> 
	<script type="text/javascript"> 
	function rate(obj,oEvent){ 
	//================== 
	// 圖片地址設置 
	//================== 
	var imgSrc = 'http://www.jb51.net/upload/20080508122008586.gif'; //沒有填色的星星
	var imgSrc_2 = 'http://www.jb51.net/upload/20080508122010810.gif'; //打分後有顏色的星星
	//--------------------------------------------------------------------------- 
	if(obj.rateFlag) return; 
	var e = oEvent || window.event; 
	var target = e.target || e.srcElement;  
	var imgArray = obj.getElementsByTagName("img"); 
	for(var i=0;i<imgArray.length;i++){ 
	   imgArray[i]._num = i; 
	   imgArray[i].onclick=function(){ 
		if(obj.rateFlag) return; 
		obj.rateFlag=true; 
		alert(this._num+1);  //this._num+1這個數字寫入到數據庫中,作為評分的依據
		
	   }; 
	}  
	if(target.tagName=="IMG"){ 
	   for(var j=0;j<imgArray.length;j++){ 
		if(j<=target._num){ 
		 imgArray[j].src=imgSrc_2; 
		} else { 
		 imgArray[j].src=imgSrc; 
		} 
	   } 
	} else { 
	   for(var k=0;k<imgArray.length;k++){ 
		imgArray[k].src=imgSrc; 
	   } 
	} 
	} 
	</script> 

</head>  
<!--=====================-->
<!-- 標題列結束          -->
<!--=====================--> 



<!--=====================-->
<!-- 內容開始            -->
<!--=====================-->
<body>

	<!-- breadcrumbs -->
	<div class="breadcrumbs">
            <div class="container">
                    <a href="javascript:history.back()"><img src="images/turnback.png" style="float:left; margin-left:-370px;" > </img></a>
					<!--<a href="/index"><img src="images/turnback.png" style="float:left; margin-left:-370px;" > </img></a>-->
                <div class="w3layouts_breadcrumbs_left">
                    <ul>
                        <li><i class="fa fa-home" aria-hidden="true"></i><a href="/index">首頁</a><span>/</span></li>
						<li><i class="fa fa-picture-o" aria-hidden="true"></i><a href="#">[課程名稱]</a><span>/</span></li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i>評分</li>
                    </ul>
                </div>
                <div class="w3layouts_breadcrumbs_right">
                    <h2>評分</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    <!-- //breadcrumbs -->

    <div class="container">
        <!------------------------------>
        <!-- 內文開始                 -->
        <!------------------------------>                 
        <div class="row" style="margin-top:125px; margin-bottom:50px; width:1350px; ">
            <div class="col-md-12" style="padding:50px 200px 150px 2px; height:900px;">
				<div class="jumbotron" style="height: 100%;">
					<!--
					<h2 class="actResult" >恭喜，完成課程了！成就感是不是倍增呢~</h2>
					<h4 class="userName" style="margin-top:10px;">現在針對這個課程填寫評分，給開課的老師一點建議哦！<br>您的意見，都是我們創造更好課程的動力！</h4>
					-->

					

					<div class="sMemberHW_item" style="padding:80px; background:#fff; border-radius: 25px; margin-top:80px;">
						<span class="image" style="float:left;"><img src="images/<%= data[0].spicture %>" alt=""  style="height:100px; width:100px; border-radius: 50px; position:relative; margin-top:-45px; margin-right:20px; margin-left:-30px;"/></span>
						<p style="color:black; font-size:30px; float:left; margin-top:-20px;"><%= data[0].smemName %></p>
						<p style="color:black; font-size:23px; float:left; margin-top:-25px; padding-left:50px; background:#1ECD97; border-radius: 25px; margin-left:50px; padding-left:15px; padding-right:15px; color:#fff; width:450px; position:relative; text-align:left;"><%= data[0].word %></p>
							
					</div>

					<label for="textarea" style="font-size:25px; padding-top:25px;">評語</label><br>
					<p style="padding-top:50px;">
						<%= data[0].feedback %>
					</p>
					<label for="textarea" style="font-size:25px; padding-top:25px;">評分</label><br>
					<p style="padding-top:50px;">
						<%= data[0].result %>
					</p>

					
					<!-- 
					<a href="/memberT"><button id="buttonview" style="font-size:20px; float:right; width:150px; margin-top:10px;">我的會員</button></a>
					<a href="/index"><button id="buttonview" style="font-size:20px; float:right; width:150px; margin-right:10px; margin-top:10px;">回首頁</button></a>
					<a href="/logout"><button id="buttonview" style="font-size:20px; float:right; width:150px; margin-right:10px; margin-top:10px;">登出</button></a>
					-->
					<!-- 
					<label for="textarea" style="font-size:25px; padding-top:25px; padding-bottom:0px;">評分</label><br>
					<p class="starWrapper" onmouseover="rate(this,event)" style="width: 100%; height: 100%; "> 
							<img src="http://www.jb51.net/upload/20080508122008586.gif" title="很爛" />
							<img src="http://www.jb51.net/upload/20080508122008586.gif" title="一般" />
							<img src="http://www.jb51.net/upload/20080508122008586.gif" title="還好" />
							<img src="http://www.jb51.net/upload/20080508122008586.gif" title="較好" />
							<img src="http://www.jb51.net/upload/20080508122008586.gif" title="很好" /> 
					</p>
					-->
					<a href="javascript:history.go(-1)"><button id="buttonview" style="font-size:20px; float:right; width:150px; margin-top:-500px; position: relative;">返回</button></a>
					
				</div>
            </div>
        </div>    
        <!------------------------------>
        <!-- 內文結束                 -->
        <!------------------------------>         


    </div>

    <!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3agile_footer_grids">
				<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
					<div class="agileits_w3layouts_footer_logo">
						<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					<!-- <img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img> -->
					<img src="images/logo.png" style="height:80%; width:80%; float:right;"></img>
					</div>
				</div>
				<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
					<h3>聯絡資訊</h3>
					<h4>連絡電話 <span>02-2598-6218</span></h4>
					<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
					<ul class="agileits_social_list">
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div> 
<!-- //footer -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>   

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script  src="js/107512/class/styleForBar.js"></script>

	
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript">
		var num = 2,
			$rating = $('#rating'),
			$item = $rating.find('.rating-item');

		//點亮星星
		var lightOn = function(num){
			$item.each(function(){
				if($(this).index() < num){
					$(this).css('background-position','0 -32px');
				}else{
					$(this).css('background-position','0 0');
				}
			});
		}

		//初始化,點亮num個星星
		lightOn(num);

		$item.on('mouseover',function(){//滑鼠移入時,觸發相應操作
			lightOn($(this).index() + 1);
		}).on('click',function(){//滑鼠點選時,觸發相應操作
			num = $(this).index() + 1;
		});

		//滑鼠移出是,觸發相應的操作
		$rating.on('mouseout',function(){
			lightOn(num);
		});
	</script>

</body>
<!--=====================-->
<!-- 內容結束            -->
<!--=====================-->

</html>
<!--********************-->
<!-- 網頁結束           -->
<!--********************-->