<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>植得 | 我的日記 ‧ 種植小書</title>
<link rel="Shortcut Icon" type="image/x-icon" href="images/logoHead.png" style="height:200%; width:200%;"/>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>
<!-- 107512 menu -->
<link href="css/107512/menu.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.scss" rel="stylesheet"> 

<!-- /自己改的CSS -->
<link href="css/107512/mainfont.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/mainsetting.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/107512style.css" rel="stylesheet" type="text/css" media="all" />

<!-- diaryView css  -->
<link href="css/107512/diary/diaryGallery.css" rel="stylesheet">	
<link href="css/107512/diary/diaryView2.css" rel="stylesheet">
<link href="css/107512/diary/diaryView2.scss" rel="stylesheet">

<!-- member plugin -->
<link rel="stylesheet" href="css/107512/member/membermain.css" />

<!-- logout button -->
<link rel="stylesheet" type="text/css" href="css/107512/class/classbuttonForLogout.css" />

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- diary -->
<link href="css/107512/diary/myDiary.css" rel="stylesheet">
<link href="css/107512/font.css" rel="stylesheet" type="text/css" media="all" />

</head>
	
<body>
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<a href="javascript:history.back()" ><img src="images/turnback.png" style="float:left; margin-left:-370px;margin-top: 50px;" > </img></a>
		<div class="w3layouts_breadcrumbs_left"  style="margin-top: 65px;">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/index">首頁</a><span>/</span></li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i>會員</li>
			</ul>
		</div>
		<div class="w3layouts_breadcrumbs_right" style=" margin-right:100px;">
			<h2>會員</h2>
		</div>
		<div class="clearfix"> </div>
	</div>
	<button id="buttonlogout" onclick="javascript:location.href='/logout'" style="font-size:15px; color:#1ECD97; float:right; margin-top:-60px; margin-right:15px;">登出</button>
</div>
<!-- //breadcrumbs -->

<!-- member  start-->
 			<!-- Wrapper -->
 				<div id="wrapper" style="width:1500px;">
	
					<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/<%= data[0].picture %>" alt="" style="height:500px; width:500px;"/></span>
						<h1><%= data[0].tmemName %></h1>
						<p><%= memTitle %><br /></p>
      				</header>
	
					<!-- Nav -->
						<nav id="nav" style="width:1500px;">
							<ul>
								<li><a href="/memberT">個人資料</a></li>
								<li><a href="/careerHW">已發起課程</a></li>
								<li><a href="#intro" class="active">我的日記</a></li>
								<li><img src="images/college-sign.png" style="width:80px; height:80px; float:right;"></li>
							</ul>
						</nav>
	
					<!-- Main -->
						<div id="main" >
							<!-- Get Started --> 	
								<section id="intro" class="main special">
									<header class="major">
										<h2>種植 ‧ 小書</h2>
									</header>
									<div class="container" >
											
											<div class="main-content" >
												<!-- 課程敘述與課堂2 開始 -->
												<div class="containercourseView2">
													<div class="rowcourseView2 body">
													<form action="#">
														<ul>
														<div class="container-diary">
														<% for(var i=0; i<data.length; i++) {%>
																<div class="gallery">
																		<a href="/careerDiaryContentT?diaNo=<%= data[i].diaNo %>&tagNo[tagNum]=<%= tagNo %>" >
																			<div class="gallery-item">
																				<img class="gallery-image" src="images/<%= data[i].diaPic %>" alt="Planting Sunflower">
																				<figcaption class="img-title">
																					<h5><span class="tag">#</span><%= data[i].title %></h5>
																				<!--	<p>共 15 篇</p> -->
																				</figcaption>
																			</div>
																		</a>
														<% } %> 	
														<!--			
																<a href="/careerDiaryContentT?tagNo=1">
																	<div class="gallery-item">
																		<img class="gallery-image" src="https://images.unsplash.com/photo-1517644493876-7864565e3bf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eaa4adf6cdb9cafa4fada1580b7c8e2c&auto=format&fit=crop&w=634&q=80" alt="Planting Mint">
																		<figcaption class="img-title">
																			<h5><span class="tag">#</span>薄荷</h5>
																			<p>共 15 篇</p> 
																		</figcaption>
																	</div>
																</a>
															-->
															</div>
														</div>
														</ul>
													</form>  
													</div>
												</div>
												<!-- 課程敘述與課堂 結束 -->
										</div>
										<!-- / container -->	
										<div class="containerbuttonview" style="margin-left:52%; margin-right:50%; ">
											<a href="/careerDiaryBookCreateT"><button id="buttonCreate" >新增日記小書</button></a>
										</div>
								</section>
						</div>
	
					<!-- Footer --> 
						<footer id="footer">
							
						</footer>
				</div>
<!-- member end -->


<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3agile_footer_grids">
			<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
				<div class="agileits_w3layouts_footer_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					<img src="images/logo.png" style="height:80%; width:80%; float:right;"></img>
				<!-- <img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img>-->
				</div>
			</div>
			<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
				<h3>聯絡資訊</h3>
				<h4>連絡電話 <span>02-2598-6218</span></h4>
				<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div> 
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3_agileits_footer_copy">
		<div class="container">
			<p>© 2017 Germinate. All rights reserved | Design by <a href="http://w3layouts.com">ntub107512 專題組.</a></p>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- 107512 menu -->
<script src="js/107512/menu.js"></script>
<script src="js/107512/menu2107512.js"></script>
<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<!-- member plugin js -->
<script src="js/107512/member/memberjquery.min.js"></script>
<script src="js/107512/member/memberjquery.scrollex.min.js"></script>
<script src="js/107512/member/memberjquery.scrolly.min.js"></script>
<script src="js/107512/member/memberskel.min.js"></script>
<script src="js/107512/member/memberutil.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="js/107512/member/membermain.js"></script>

<!-- diaryView js -->
	<script src="js/107512/diary/diaryView.js"></script>
	<script src="js/107512/diary/myDiary.js"></script>

</body>
</html>