<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>植得｜會員</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>
<!-- 107512 menu -->
<link href="css/107512/menu.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.scss" rel="stylesheet"> 

<!-- /自己改的CSS -->
<link href="css/107512/mainfont.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/mainsetting.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/107512style.css" rel="stylesheet" type="text/css" media="all" />

<!-- memebr plugin -->
<link rel="stylesheet" href="css/107512/member/membermain.css" />
<link rel="stylesheet" href="css/107512/font.css" />

<!-- logout button -->
<link rel="stylesheet" type="text/css" href="css/107512/class/classbuttonForLogout.css" />

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>

<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Germinate
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<!--<a href="javascript:history.back()"><img src="images/turnback.png" style="float:left; margin-left:-370px;" > </img></a>-->
			<a href="/index"><img src="images/turnback.png" style="float:left; margin-left:-370px;" > </img></a>
			<div class="w3layouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/index">首頁</a><span>/</span></li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i>會員</li>
				</ul>
			</div>
			<div class="w3layouts_breadcrumbs_right" style=" margin-right:100px;">
				<h2 style="font-family: 'Arbutus Slab', serif, 'Noto Sans TC', sans-serif;">會員</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
		<button id="buttonlogout" onclick="javascript:location.href='/logout'" style="font-size:15px; color:#1ECD97; float:right; margin-top:-60px; margin-right:15px;">登出</button>
	</div>
<!-- //breadcrumbs -->

<!-- member  start-->
 			<!-- Wrapper -->
 				<div id="wrapper" style="width:1500px;">
	
					<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/<%= data[0].picture %>" alt="" style="height:500px; width:500px;"/></span>
						<h1>[<%= data[0].tmemName %>]</h1>
						<p>[<%= memTitle %>]<br />
						[簡介]</p>
      				</header>
	
					<!-- Nav -->
						<nav id="nav" style="width:1500px;">
							<ul>
								<li><a href="/memberT" >個人資料</a></li>
								<li><a href="#second" class="active">已發起課程</a></li>
								<li><a href="/careerHW">待批改作業</a></li>
								<li><a href="/careerHWcorrect">已批改作業</a></li>
								<li><a href="/careerDiaryT">我的日記</a></li>
								<li><img src="images/college-sign.png" style="width:80px; height:80px; float:right;"></li>
							</ul>
						</nav>
	
					<!-- Main -->
						<div id="main">
	
							<!-- Introduction --> <!--
								<section id="intro" class="main">
									<div class="spotlight">
										<div class="content">
											<header class="major">
												<h2>個人資料</h2>
											</header>
											<h3>名稱：張敏慈</h3>
											<h3>電子信箱：mayjume@gmail.com</h3>
											<h3>電話：09528xxxxx</h3>
											<h3>身分：學生</h3>

											<ul class="actions">
												<li><a href="generic.html" class="button">Learn More</a></li>
											</ul>
										</div>
										<span class="image"><img src="images/13.jpg" alt="" /></span>
									</div>
								</section>
	
							<!-- First Section --> <!--
								<section id="first" class="main special">
									<header class="major">
										<h2>Magna veroeros</h2>
									</header>
									<ul class="features">
										<li>
											<span class="icon major style1 fa-code"></span>
											<h3>Ipsum consequat</h3>
											<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
										</li>
										<li>
											<span class="icon major style3 fa-copy"></span>
											<h3>Amed sed feugiat</h3>
											<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
										</li>
										<li>
											<span class="icon major style5 fa-diamond"></span>
											<h3>Dolor nullam</h3>
											<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
										</li>
									</ul>
									<footer class="major">
										<ul class="actions">
											<li><a href="generic.html" class="button">Learn More</a></li>
										</ul>
									</footer>
								</section>
	
							<!-- Second Section -->
								<section id="second" class="main special">
									<header class="major">
										<h2 style="font-family: 'Arbutus Slab', serif, 'Noto Sans TC', sans-serif;">已發起課程</h2>
										<!--<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
										posuere. Nulla massa urna, fermentum eget quam aliquet.</p>-->
									</header>

									<% for(var i=0; i<data.length; i++) {%>
										<ul class="statistics">
											
											<li class="style1" style="width:550px;">
												<a href="/courseView?classNo=<%= data[i].classNo %>" style="text-decoration:none;">
												<!--<span class="icon fa-code-fork"></span>-->
												<h1 style="color:#fff;"><%= data[i].className %></h1> 
												<p style="font-size:27px;"> 課程敘述:對於無患子的手工肥皂製作，希望小朋友對於植物有極大的興趣 </p>
												<strong style="float:left; font-size:10px; margin-bottom:0px; font-size:15px;"><%= myDateFormat(data[i].startDate) %>~ <%= myDateFormat(data[i].endDate) %></strong> 
												<p style="float:right; margin-bottom:0; font-size:25px;">參與人數：15人</p>
												</a>
											</li>
											
										</ul>
									<% } %>
									

									
									<!--<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>-->
									<!--<footer class="major">
										<ul class="actions">
											<li><a href="generic.html" class="button">Learn More</a></li>
										</ul>
									</footer>-->
								</section>
	
							<!-- Get Started --> 
								<section id="cta" class="main special">
									<header class="major">
										<h2 style="font-family: 'Arbutus Slab', serif, 'Noto Sans TC', sans-serif;">｜實體課程 敬請期待｜</h2>
										<p>您的線上課程經過小學生線上投票第一名，我們將會您的課程實踐於你的生活中，實際與偏鄉的小朋友面對面教學，將線上課程上的內容透過你的方式你安排的課程，呈現給偏鄉小朋友們！				
										</p>
									</header> <!--
									<footer class="major">
										<ul class="actions">
											<li><a href="generic.html" class="button special">Get Started</a></li>
											<li><a href="generic.html" class="button">Learn More</a></li>
										</ul>
									</footer>-->
								</section>
	
						</div>
	
					<!-- Footer --> 
						<footer id="footer">
							<!--
							<section>
								<h2>Aliquam sed mauris</h2>
								<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
								<ul class="actions">
									<li><a href="generic.html" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<h2>Etiam feugiat</h2>
								<dl class="alt">
									<dt>Address</dt>
									<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
									<dt>Phone</dt>
									<dd>(000) 000-0000 x 0000</dd>
									<dt>Email</dt>
									<dd><a href="#">information@untitled.tld</a></dd>
								</dl>
								<ul class="icons">
									<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
								</ul>
							</section>-->
							<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						</footer>
	
				</div>
<!-- member end -->
<!-- contact -->
<!--
	<div class="welcome">
		<div class="container">
			<h3 class="agileits_w3layouts_head">Get in<span> touch</span> with us</h3>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive" />
			</div>
			<p class="agile_para">Morbi viverra lacus commodo felis semper, eu iaculis lectus nulla at sapien blandit sollicitudin.</p>
			<div class="w3ls_news_grids">
				<div class="col-md-8 w3_agile_mail_left">
					<div class="agileits_mail_grid_right1 agile_mail_grid_right1">
						<form action="#" method="post">
							<span>
								<i>Name</i>
								<input type="text" name="Name" placeholder=" " required="">
							</span>
							<span>
								<i>Email</i>
								<input type="email" name="Email" placeholder=" " required="">
							</span>
							<span>
								<i>Subject</i>
								<input type="text" name="Subject" placeholder=" " required="">
							</span>
							<span>
								<i>Message</i>
								<textarea name="Message" placeholder=" " required=""></textarea>
							</span>
							<div class="w3_submit">
								<input type="submit" value="Submit Now">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4 w3_agile_mail_right">
					<div class="w3_agileits_mail_right_grid">
						<h4>About Plantation</h4>
						<p>Donec libero lectus, feugiat vel elit nec, mattis tempor mi ante.</p>
						<h5>Follow Us On</h5>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
						<div class="w3_agileits_mail_right_grid_pos">
							<img src="images/12.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="w3_agileits_mail_right_grid_main">
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Mail Us</h3>
								<a href="mailto:info@example.com">info@example.com</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Address</h3>
								<p>My Company 8907 Ukraine.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Phone</h3>
								<p>+(0121) 121 121</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div id="map"></div>
<!-- //contact -->
	<!-- <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(33.6, 49.966667), // New York

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [	{		"featureType":"landscape",		"stylers":[			{				"hue":"#FFA800"			},			{				"saturation":0			},			{				"lightness":0			},			{				"gamma":1			}		]	},	{		"featureType":"road.highway",		"stylers":[			{				"hue":"#53FF00"			},			{				"saturation":-73			},			{				"lightness":40			},			{				"gamma":1			}		]	},	{		"featureType":"road.arterial",		"stylers":[			{				"hue":"#FBFF00"			},			{				"saturation":0			},			{				"lightness":0			},			{				"gamma":1			}		]	},	{		"featureType":"road.local",		"stylers":[			{				"hue":"#00FFFD"			},			{				"saturation":0			},			{				"lightness":30			},			{				"gamma":1			}		]	},	{		"featureType":"water",		"stylers":[			{				"hue":"#00BFFF"			},			{				"saturation":6			},			{				"lightness":8			},			{				"gamma":1			}		]	},	{		"featureType":"poi",		"stylers":[			{				"hue":"#679714"			},			{				"saturation":33.4			},			{				"lightness":-25.4			},			{				"gamma":1			}		]	}]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(33.6, 49.966667),
                    map: map,
                    title: 'Snazzy!'
                });
            }
        </script>

-->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3agile_footer_grids">
			<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
				<div class="agileits_w3layouts_footer_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
				<img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img>
				</div>
			</div>
			<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
				<h3>聯絡資訊</h3>
				<h4>連絡電話 <span>02-2598-6218</span></h4>
				<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div> <!--
			<div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
				<h3>Navigation</h3>
				<ul class="w3layouts_footer_nav">
					<li><a href="/index"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Home</a></li>
					<li><a href="/icons"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Web Icons</a></li>
					<li><a href="/typography"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Typography</a></li>
					<li><a href="/contact"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 agileinfo_footer_grid">
				<h3>Blog Posts</h3>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/3.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>-->
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3_agileits_footer_copy">
		<div class="container">
			<p>© 2017 Germinate. All rights reserved | Design by <a href="http://w3layouts.com">ntub107512 專題組.</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- 107512 menu -->
<script src="js/107512/menu.js"></script>
<script src="js/107512/menu2107512.js"></script>
<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<!-- member plugin js -->
<script src="js/107512/member/memberjquery.min.js"></script>
<script src="js/107512/member/memberjquery.scrollex.min.js"></script>
<script src="js/107512/member/memberjquery.scrolly.min.js"></script>
<script src="js/107512/member/memberskel.min.js"></script>
<script src="js/107512/member/memberutil.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="js/107512/member/membermain.js"></script>

</body>
</html>